export FLASK_APP=project/__init__.py
export FLASK_ENV=development
export APP_SETTINGS=project.config.DevelopmentConfig
export DATABASE_URL=postgresql://postgres:postgres@localhost:5432/users
export DATABASE_TEST_URL=postgresql://postgres:postgres@localhost:5432/users
